#
.vscode

#node_modules
client/node_modules
node_modules

#.expo
client/.expo

# dotenv environment variables file
.env

api\DevBank\package-lock.json
admin\package-lock.json
client\package-lock.json
